@import url(http://fonts.googleapis.com/css?family=Dosis:400,500,600,800);
@import url(http://fonts.googleapis.com/css?family=Abel);
/* colors */
body {
  background: #112;
  margin-left: 4em;
  margin-right: 4em; }

a {
  color: #fff;
  font-family: 'Dosis';
  text-decoration: none; }

ul {
  list-style: none;
  padding-left: 0; }

#canvas,
#canvas2 {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -20; }

#canvas {
  z-index: -20; }

#canvas2 {
  z-index: -10; }

#suk {
  position: absolute;
  right: 0;
  bottom: 0.5em;
  z-index: 10;
  transition: right 0.5s; }
  #suk.suk-hidden {
    right: -30em; }

.sprite {
  background-image: url("../img/disco3030sprite.png"); }

/* disco ball styles */
#disco-ball {
  font-size: 1em;
  left: 0;
  right: 0;
  top: 20%;
  position: absolute; }
  #disco-ball h1 {
    color: #fff;
    font-family: "Dosis";
    font-size: 7.8em;
    font-weight: 600;
    letter-spacing: -0.03em;
    text-align: center;
    line-height: 0.8;
    position: absolute;
    width: 100%;
    top: 0em;
    z-index: 5; }
  #disco-ball.disco-hidden {
    top: -50%; }
  #disco-ball.disco-init2 h1 {
    color: #ff3;
    transition: color 1.5s; }
  #disco-ball.disco-init3 {
    top: -50%;
    transition: top ease-out 0.5s; }
  #disco-ball.disco-init4 {
    top: 2%;
    transition: top 0.5s; }
    #disco-ball.disco-init4 #disco-html {
      display: none; }
    #disco-ball.disco-init4 #disco-png {
      display: inline-block; }

.disco-row {
  height: 1.5em;
  text-align: center; }

.cell {
  /*border-radius: 30%;*/
  border-radius: 50%;
  display: inline-block;
  background: white;
  width: 0.9375em;
  height: 0.0625em;
  line-height: 0;
  transition: height 0.1s; }

#disco-png {
  display: none;
  position: absolute;
  right: 10%; }

#disco-html {
  width: 25em;
  position: relative;
  margin-left: auto;
  margin-right: auto; }

.disco-init1 .disco-row .cell {
  /*height: 1.375em;	*/
  height: 1em; }

.disco-init1 .disco-row:nth-of-type(1n) .cell {
  transition: height 0.05s 0.05s; }

.disco-init1 .disco-row:nth-of-type(2n) .cell {
  transition: height 0.05s 0.1s; }

.disco-init1 .disco-row:nth-of-type(3n) .cell {
  transition: height 0.05s 0.15s; }

.disco-init1 .disco-row:nth-of-type(4n) .cell {
  transition: height 0.05s 0.2s; }

.disco-init1 .disco-row:nth-of-type(5n) .cell {
  transition: height 0.05s 0.25s; }

.disco-init1 .disco-row:nth-of-type(6n) .cell {
  transition: height 0.05s 0.3s; }

.disco-init1 .disco-row:nth-of-type(7n) .cell {
  transition: height 0.05s 0.35s; }

.disco-init1 .color-1 {
  background: #ff006e; }

.disco-init2 .color-1 {
  animation: shineOne1 0.3s 0.04s forwards; }

@keyframes shineOne1 {
  50% {
    background: #ffb3d4;
    box-shadow: 0 0 0 0.125em #ffb3d4; }
  100% {
    background: #a5a5a5;
    opacity: 0.5; } }

.disco-init1 .color-2 {
  background: #ff00dd; }

.disco-init2 .color-2 {
  animation: shineOne2 0.3s 0.08s forwards; }

@keyframes shineOne2 {
  50% {
    background: #ffb3f5;
    box-shadow: 0 0 0 0.125em #ffb3f5; }
  100% {
    background: #a0a0a0;
    opacity: 0.5; } }

.disco-init1 .color-3 {
  background: #b300ff; }

.disco-init2 .color-3 {
  animation: shineOne3 0.3s 0.12s forwards; }

@keyframes shineOne3 {
  50% {
    background: #e8b3ff;
    box-shadow: 0 0 0 0.125em #e8b3ff; }
  100% {
    background: #9b9b9b;
    opacity: 0.5; } }

.disco-init1 .color-4 {
  background: #4400ff; }

.disco-init2 .color-4 {
  animation: shineOne4 0.3s 0.16s forwards; }

@keyframes shineOne4 {
  50% {
    background: #c7b3ff;
    box-shadow: 0 0 0 0.125em #c7b3ff; }
  100% {
    background: #969696;
    opacity: 0.5; } }

.disco-init1 .color-5 {
  background: #002bff; }

.disco-init2 .color-5 {
  animation: shineOne5 0.3s 0.2s forwards; }

@keyframes shineOne5 {
  50% {
    background: #b3bfff;
    box-shadow: 0 0 0 0.125em #b3bfff; }
  100% {
    background: #909090;
    opacity: 0.5; } }

.disco-init1 .color-6 {
  background: #0099ff; }

.disco-init2 .color-6 {
  animation: shineOne6 0.3s 0.24s forwards; }

@keyframes shineOne6 {
  50% {
    background: #b3e0ff;
    box-shadow: 0 0 0 0.125em #b3e0ff; }
  100% {
    background: #8b8b8b;
    opacity: 0.5; } }

.disco-init1 .color-7 {
  background: #00fff7; }

.disco-init2 .color-7 {
  animation: shineOne7 0.3s 0.28s forwards; }

@keyframes shineOne7 {
  50% {
    background: #b3fffc;
    box-shadow: 0 0 0 0.125em #b3fffc; }
  100% {
    background: #868686;
    opacity: 0.5; } }

.disco-init1 .color-8 {
  background: #00ff88; }

.disco-init2 .color-8 {
  animation: shineOne8 0.3s 0.32s forwards; }

@keyframes shineOne8 {
  50% {
    background: #b3ffdb;
    box-shadow: 0 0 0 0.125em #b3ffdb; }
  100% {
    background: #818181;
    opacity: 0.5; } }

.disco-init1 .color-9 {
  background: #00ff19; }

.disco-init2 .color-9 {
  animation: shineOne9 0.3s 0.36s forwards; }

@keyframes shineOne9 {
  50% {
    background: #b3ffba;
    box-shadow: 0 0 0 0.125em #b3ffba; }
  100% {
    background: #7c7c7c;
    opacity: 0.5; } }

.disco-init1 .color-10 {
  background: #55ff00; }

.disco-init2 .color-10 {
  animation: shineOne10 0.3s 0.4s forwards; }

@keyframes shineOne10 {
  50% {
    background: #ccffb3;
    box-shadow: 0 0 0 0.125em #ccffb3; }
  100% {
    background: #777777;
    opacity: 0.5; } }

.disco-init1 .color-11 {
  background: #c3ff00; }

.disco-init2 .color-11 {
  animation: shineOne11 0.3s 0.44s forwards; }

@keyframes shineOne11 {
  50% {
    background: #edffb3;
    box-shadow: 0 0 0 0.125em #edffb3; }
  100% {
    background: #727272;
    opacity: 0.5; } }

.disco-init1 .color-12 {
  background: #ffcc00; }

.disco-init2 .color-12 {
  animation: shineOne12 0.3s 0.48s forwards; }

@keyframes shineOne12 {
  50% {
    background: #fff0b3;
    box-shadow: 0 0 0 0.125em #fff0b3; }
  100% {
    background: #6d6d6d;
    opacity: 0.5; } }

.disco-init1 .color-13 {
  background: #ff5e00; }

.disco-init2 .color-13 {
  animation: shineOne13 0.3s 0.52s forwards; }

@keyframes shineOne13 {
  50% {
    background: #ffcfb3;
    box-shadow: 0 0 0 0.125em #ffcfb3; }
  100% {
    background: #686868;
    opacity: 0.5; } }

.disco-init1 .color-14 {
  background: #ff0011; }

.disco-init2 .color-14 {
  animation: shineOne14 0.3s 0.56s forwards; }

@keyframes shineOne14 {
  50% {
    background: #ffb3b8;
    box-shadow: 0 0 0 0.125em #ffb3b8; }
  100% {
    background: #636363;
    opacity: 0.5; } }

.italic {
  font-style: italic; }

.block-heading {
  font-size: 1.6em;
  font-family: 'Dosis';
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 0; }

.block-subheading {
  margin-top: 0.3em;
  margin-bottom: 0;
  font-style: italic; }

.block-content {
  margin-top: 0.8em;
  margin-bottom: 0; }

#contact {
  position: absolute;
  bottom: 2em;
  z-index: 10; }
  #contact > div {
    margin-bottom: 1em; }
  #contact i {
    font-size: 1.2em;
    margin-right: 0.5em; }
    #contact i.fa-linkedin-square {
      color: #1C77AD; }
    #contact i.fa-twitter {
      color: #339CF3; }
    #contact i.fa-github {
      color: #aaa; }
    #contact i.fa-codepen {
      color: #fff; }
    #contact i.fa-envelope {
      font-size: 0.9em;
      color: #f36633; }
    #contact i.fa-mobile {
      color: #ff3; }

.contact-hidden > div {
  opacity: 0;
  transform: rotateY(-60deg) rotateZ(30deg); }

.contact-loading > div:nth-child(1) {
  transition: transform 0.2s 0.05s, opacity 0.2s 0.05s; }

.contact-loading > div:nth-child(2) {
  transition: transform 0.2s 0.1s, opacity 0.2s 0.1s; }

.contact-loading > div:nth-child(3) {
  transition: transform 0.2s 0.15s, opacity 0.2s 0.15s; }

#content {
  color: white;
  position: absolute;
  width: 45%;
  margin-right: 5%;
  top: 23.8%; }
  #content > div {
    font-family: 'Abel';
    word-spacing: 0.06em;
    left: -300em;
    opacity: 0;
    position: absolute; }
    #content > div h1 {
      color: white;
      font-family: 'Dosis';
      font-weight: 500;
      text-transform: uppercase;
      opacity: 0; }
    #content > div.content-selected {
      left: 0;
      opacity: 1;
      transition: opacity 0.2s 0.4s; }
      #content > div.content-selected h1 {
        opacity: 1;
        letter-spacing: 0.1em;
        transition: letter-spacing 0.8s; }

#display {
  width: 50%;
  position: absolute;
  right: 5%;
  top: 22%; }
  #display > div {
    display: none; }
    #display > div.display-selected {
      display: block; }

#resume h2 {
  font-size: 1.8em;
  line-height: 1;
  margin: 0; }

#resume .fa-university {
  color: #ff9; }

#resume .fa-briefcase {
  color: #552; }

.resume-profile {
  margin-bottom: 2em; }
  .resume-profile > span {
    /*font-size: 1.6em;*/
    color: #ff6; }

.resume-col {
  display: inline-block;
  width: 43%;
  margin-right: 6.5%;
  vertical-align: top;
  font-size: 0.8em; }
  .resume-col ul > li {
    margin-bottom: 2em; }

#work {
  width: 100%; }
  #work > div {
    width: 10em;
    margin-bottom: 3em;
    display: inline-block;
    vertical-align: top; }
  #work h2 {
    margin: 0;
    font-weight: 500; }
  #work li {
    line-height: 1.8;
    margin-left: 1em;
    transition: color 0.2s, margin-left 0.2s; }
    #work li:hover {
      cursor: pointer;
      color: #ff3;
      margin-left: 0.5em; }

#work-display {
  position: absolute;
  left: 0%;
  width: 50%; }

.project {
  font-family: 'Abel';
  font-size: 0.8em;
  display: block;
  color: white;
  display: none; }
  .project-selected {
    display: block; }
  .project-tools > li {
    display: inline-block;
    margin-right: 1em; }
    .project-tools > li .sprite {
      width: 40px;
      height: 40px; }
  .project-href {
    display: inline-block;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 1.3em;
    /*overflow: hidden;*/
    /*width: 3.2em;*/
    /*height: 1.5em;*/
    /*position: relative;*/
    /*transition: background 0.4s ease;*/ }
    .project-href > span {
      background: #336;
      display: inline-block;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      margin: 0; }
    .project-href-hover-1 {
      border-radius: 0.3em;
      padding-left: 0.6em;
      padding-right: 0.6em;
      letter-spacing: 0.1em; }
    .project-href-hover-2 {
      padding-right: 0.1em;
      transform: rotateX(-90deg) rotateY(-90deg); }
    .project-href-hover-3,
    .project-href-hover-4 {
      padding-left: 0.1em;
      padding-right: 0.1em;
      transform: rotateX(-90deg) rotateY(-90deg); }
    .project-href-hover-5 {
      border-top-right-radius: 0.3em;
      border-bottom-right-radius: 0.3em;
      padding-left: 0.1em;
      padding-right: 0.6em;
      transform: rotateX(-90deg) rotateY(-90deg); }
    .project-href-hover-1 {
      margin-left: 0em;
      transition: all 0.16s ease 0s; }
    .project-href-hover-2 {
      margin-left: 0.2em;
      transition: all 0.16s ease 0.08s; }
    .project-href-hover-3 {
      margin-left: 0.4em;
      transition: all 0.16s ease 0.16s; }
    .project-href-hover-4 {
      margin-left: 0.6em;
      transition: all 0.16s ease 0.24s; }
    .project-href-hover-5 {
      margin-left: 0.8em;
      transition: all 0.16s ease 0.32s; }
    .project-href:hover .project-href-hover-1 {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      background: #112; }
    .project-href:hover .project-href-hover-2,
    .project-href:hover .project-href-hover-3,
    .project-href:hover .project-href-hover-4,
    .project-href:hover .project-href-hover-5 {
      margin-left: 0;
      background: #112;
      transform: rotateX(0deg) rotateY(0deg); }
    .project-href:hover .project-href-normal {
      /*height: 0;*/
      transform: rotateX(-90deg); }
    .project-href:hover .project-href-hover {
      /*height: $btnH;*/
      transform: rotateX(0deg); }
  .project-img {
    width: 80%;
    margin-top: 1em; }

nav {
  position: absolute;
  top: 25%; }
  nav > ul {
    padding-left: 0; }
  nav > ul > li {
    line-height: 2;
    opacity: 1;
    transform: rotateY(0deg) rotateZ(0deg);
    transform-origin: 0% 50%;
    transition: opacity 0.2s; }
  nav a {
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: uppercase; }

.nav-hidden > ul > li {
  opacity: 0;
  transform: rotateY(-60deg) rotateZ(30deg); }

.nav-loading > ul > li:nth-child(1) {
  transition: transform 0.2s 0.05s, opacity 0.2s 0.05s; }

.nav-loading > ul > li:nth-child(2) {
  transition: transform 0.2s 0.1s, opacity 0.2s 0.1s; }

.nav-loading > ul > li:nth-child(3) {
  transition: transform 0.2s 0.15s, opacity 0.2s 0.15s; }

.nav-loading > ul > li:nth-child(4) {
  transition: transform 0.2s 0.2s, opacity 0.2s 0.2s; }

#back {
  background: transparent;
  /*width: 2em;*/
  /*height: 2em;*/
  position: absolute;
  top: 1.15em;
  left: -2.1em;
  border-top: 1em solid transparent;
  border-bottom: 1em solid transparent;
  border-right: 1em solid white;
  transition: all 0.2s; }
  #back:hover {
    cursor: pointer;
    border-right: 1.3em solid #ff3; }
  #back:focus,
  #back.back-hidden {
    outline: none;
    border-right: 0em solid white; }

.link-hidden {
  opacity: 0;
  line-height: 0;
  font-size: 0;
  transition: opacity 0.2s, line-height 0.2s ease-out 0.2s, font-size 0s 0.4s; }

.link-selected {
  margin-top: -1em;
  transition: margin-top 0.2s; }
  .link-selected > a {
    font-size: 3em;
    opacity: 0;
    transition: font-size 0.4s, opacity 0.4s; }
    .link-selected > a:hover {
      cursor: default; }

#work-menu > li {
  font-size: 1.1em;
  display: inline-block;
  margin-right: 1em; }
