<div id="about">
	<h1>About</h1>
	<p>Hi, I'm Suk (rhymes w/ left hook). I'm graduating from Georgian College on Aug 2015.</p>
	<p>I'm a front-end developer working mainly in JavaScript. Whether it's from the front, back, or the middle, I'm dedicated to writing legible, maintainable, and secure code. 
</p>
	<p>Angular, Mobile First, Gulp, design trend w/ 2 month shelf life --- I can always pick up something new for the job.</p>
	<p>If your team's next project needs to be executed w/ a purpose and some shiny tools I would love to join in and see it through :).</p>
</div>
