<div id="resume">
	<h1>Resume</h1>
	<p class="resume-profile"><span>Self-learner at heart.</span></br>
			With respect for teams. </br>
			Not afraid to contribute what I know and study what I don't.</p>
	<div class="resume-col">
			<h2><i class="fa fa-university"></i></h2>
			<ul>
				<!--<li>-->
					<!--<h3 class="block-heading">Boston University</h3>-->
					<!--<h4 class="block-subheading">2009-2013</h4>-->
					<!--<p class="block-content">BA in Japanese Language and Literature</p>-->
				<!--</li>-->
				<li>
					<h3 class="block-heading">Georgian College</h3>
					<h4 class="block-subheading">2014-2015</h4>
					<p class="block-content">Interactive Web Design & Development</p>
				</li>
			</ul>
	</div>
	<div class="resume-col">
		<h2><i class="fa fa-briefcase"></i></h2>
		<ul>
			<li>
				<h3 class="block-heading">Jr. Web Developer</h3>
				<h4 class="block-subheading"><a href='http://www.tygershark.com/' target='_blank' title='TygerShark - Websites With Bite'>Tyger Shark Inc.</a></br>
				July 2014 - November 2014&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Ontario, Canada</h4>
			<p class="block-content">Implemented project designs and content into digital experiences with a close team. Very diverse clientele.</p>
			</li>
			<li>
				<h3 class="block-heading">Peer Tutor</h3>
				<h4 class="block-subheading"><a href='http://www.georgiancollege.ca/' target='_blank' title='Georgian College Homepage'>Georgian College</a></br>
				March 2015 - May 2015&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Ontario, Canada</h4>
				<p class="block-content">A lot of students are struggling with the program here.</p>
			</li>
		</ul>
	</div>
</div>
