@import url(http://fonts.googleapis.com/css?family=Dosis:400,500,600,800);
@import url(http://fonts.googleapis.com/css?family=Abel);

/* colors */
$yellow: #ff3;
$yellow2: #ff6;

body {
  background: #112;
  margin-left: 4em;
  margin-right: 4em;
}

a {
	color: #fff;
	font-family: 'Dosis';
	text-decoration: none;
}

ul {
	list-style: none;
	padding-left: 0;
}

#canvas,
#canvas2 {
	position: fixed;
	left: 0;
	top: 0;
	z-index: -20;
}

#canvas {
	z-index: -20;
}

#canvas2 {
	z-index: -10;
}

#suk {
	position: absolute;
	right: 0;
	bottom: 0.5em;
	z-index: 10;

	transition: right 0.5s; 

	&.suk-hidden {
		right: -30em;		
	}
}

.sprite {
	background-image: url("../img/disco3030sprite.png");
}
