nav {
	position: absolute;
	top: 25%;

	> ul {
		padding-left: 0;
	}

	> ul > li {
		line-height: 2;
		opacity: 1;
		transform: rotateY(0deg) rotateZ(0deg);
		transform-origin: 0% 50%;
		transition: opacity 0.2s;
	}

	a {
		font-weight: 400;
		letter-spacing: 0.1em;
		text-transform: uppercase;
	}
}

.nav {
	&-hidden > ul > li {
		opacity: 0;
		transform: rotateY(-60deg) rotateZ(30deg);
	}

	&-loading > ul > li {
		@for $i from 1 through 4 {
			$delay: #{$i * 0.05}s;

			&:nth-child(#{$i}) {
				transition: transform 0.2s $delay, 
							opacity 0.2s $delay;
			}
		}
	}
}

#back {
	$l: 1em;

	background: transparent;
	/*width: 2em;*/
	/*height: 2em;*/

	position: absolute;
	top: 1.15em;
	left: -2.1em;

	border-top: $l solid transparent;
	border-bottom: $l solid transparent;
	border-right: $l solid white;

	transition: all 0.2s;

	&:hover {
		cursor: pointer;		
		border-right: 1.3em solid $yellow;
	}

    &:focus,	
	&.back-hidden {
		outline: none;		
		border-right: 0em solid white;
	}
}

.link {
	&-hidden {
		opacity: 0;
		line-height: 0;
		font-size: 0;
		transition: opacity 0.2s, line-height 0.2s ease-out 0.2s,
					font-size 0s 0.4s;

	}

	&-selected {
		margin-top: -1em;
		transition: margin-top 0.2s;

		> a {
			font-size: 3em;
			opacity: 0;
			transition: font-size 0.4s,
						opacity 0.4s;

			&:hover {
				cursor: default;
			}
		}
	}
}

#work-menu {
	> li {
		font-size: 1.1em;
		display: inline-block;
		margin-right: 1em;
	}
}

