#work-display {
	position: absolute;
	left: 0%;
	width: 50%;
}

.project {
	$purp: #336;
	$purp2: darken($purp, 10%);
	$purp3: lighten($purp, 0%);

	font-family: 'Abel';
	font-size: 0.8em;
	display: block;
	color: white;
	display: none;
	max-width: 23em;

	&-selected {
		display: block;		
	}

	&-tools { 
		margin: 3em 0 1em 0;
	}

	&-tools > li {
		display: inline-block;
		margin-right: 1em;

		&:hover { 
			animation: projectIconHover 0.5s linear 1;
		}

		.sprite {
			width: 40px;
			height: 40px;
		}
	}

	&-links { 
		margin-top: 2em;
		margin-bottom: 3em;

		> a { 
			display: inline-block;
			margin-right: 1rem;	
			vertical-align: middle;
		}
	}

	&-github { 
		margin-top: -0.1em;
		font-size: 3.6em;	

		&:hover { 
			animation: projectIconHover 0.5s linear 1;
		}
	}

	&-href {
		$btnH: 1.4em;
		$s: 1s;

		padding-left: 0.5em;
		padding-right: 0.5em;
		font-size: 1.3em;

		> span {
			background: $purp;
			display: inline-block;
			padding-top: 0.5em;
			padding-bottom: 0.5em;
			
			margin: 0;
		}

		$pd: 0.05em;
		$dur: 0.8;
		$leng: 5;

		&-hover {

			&-1 {
				border-radius: 0.3em;
				padding-left: 0.6em;		
				padding-right: 0.6em;
				letter-spacing: 0.05em;
			}

			&-2 {
				padding-right: $pd;
				transform: rotateX(-90deg) rotateY(-90deg);
			}

			&-3,
			&-4 {	
				padding-left: $pd;
				padding-right: $pd;
				transform: rotateX(-90deg) rotateY(-90deg);
			}

			&-5 {
				border-top-right-radius: 0.3em;
				border-bottom-right-radius: 0.3em;
				padding-left: $pd;
				padding-right: 0.6em;
				transform: rotateX(-90deg) rotateY(-90deg);
			}

			@for $i from 1 through 5 {
				&-#{$i} {
					margin-left: #{($i - 1)*0.2}em;
					transition: all #{$dur/$leng}s ease #{($i - 1)*($dur/(2*$leng))}s;
				}		
			}
		}

		&:hover .project-href-hover {

			&-1 {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
				background: $purp2;
			} 		

			&-2,
			&-3,
			&-4,
			&-5 {	
				margin-left: 0;
				background: $purp2;
				transform: rotateX(0deg) rotateY(0deg);
			}
		}


		&:hover .project-href-normal {
			/*height: 0;*/
			transform: rotateX(-90deg);
		}

		&:hover .project-href-hover {
			/*height: $btnH;*/
			transform: rotateX(0deg);
		}
	}

	&-img {
		width: 80%;		
		margin-top: 1em;
	}
}

@keyframes projectIconHover { 
	15% { 
		transform: translateY(10%) scaleY(0.8) skewX(0deg);
	}
	30% { 
		transform: translate(-5%, -8%) scaleY(1.05) skewX(5deg);
	}
	45% { 
		transform: translateY(10%) scaleY(0.8) skewX(0deg);
	}
	60% { 
		transform: translate(5%, -8%) scaleY(1.05) skewX(-5deg);
	}
	75% { 
		transform: translateY(10%) scaleY(0.8) skewX(0deg);
	}
	90% { 
		transform: scaleY(1) skewX(0deg);
	}
}




