#work {
	width: 100%;

	> div {
		width: 10em;
		margin-bottom: 3em;

	    display: inline-block;
	    vertical-align: top;
	}

	h2 {
		margin: 0;
		font-weight: 500;
	}

	li {
		line-height: 1.8;
		margin-left: 1em;
		transition: color 0.2s, margin-left 0.2s;

		&:hover {
			cursor: pointer;
			color: $yellow;
			margin-left: 0.5em;
		}
	}
}
